@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./assent/milky-way-2695569_640.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}
.container{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: rgba(255,255,255, .1);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center; 
    
    & input{
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid rgba(255,255,255, .2);
        outline: none;
        border-radius: 16px;
        font-size: 17px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 48px 0 42px;
        &::placeholder{
            color: #fff;
            text-transform: capitalize;

        }
    }
    & button{
        position: absolute;
        right: 0;
        width: 35px;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 29px;
        color: #fff;
        padding: 0 40px 0 5px;
        cursor: pointer;

    }
    & i {
        position: absolute;
        left: 10px;
        font-size: 29px;
    }

}
.weather-box{
    text-align: center;
    & img{
        width: 60%;
        margin: 35px 0;
    }
    & p.tempature{
        position: relative;
        font-size: 64px;
        line-height: 1;
        font-weight: 700;
        margin: 0px 0 6px -30px;
        > span{
            position: absolute;
            font-size: 24px;
            margin-left: 4px;
        }

    }
    & p.description{
        font-size: 22px;
        font-weight: 500;
        text-transform: capitalize;

    }
}

.weather-details{
    position:absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding:  0 20px;
    display: flex;
    & div.humidity, div.wind{
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateY(-100%);
        & i{
            font-size: 56px;
            margin-right: 10px;
        }
        & span{
            display: inline-block;
            font-size: 22px;
            font-weight: 500;
        }
        & p{
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.weather-details.active .humidity,
.weather-details.active .wind{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind{
    transform: translateY(-100%);
    overflow: hidden;
}



.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;

}
.weather-details .wind{
    padding-right:20px;
    justify-content: flex-end;
}

.weather-box,
.weather-details,
.not-found{
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active{
    visibility: visible;
}

.weather-box .box,
.not-found .box{
    transform: translateY(-100%);
}
.weather-box.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box .box .info-weather{
    transform: translateY(-120%)
}
.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind{
    transform: translateY(0%);
    transition: transform 1s ease;
}
.not-found{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    & p{
        font-size: 22px;
        font-weight: 500;
        margin-top: 15px;
    }
}
.not-found img{
    width: 80%;
}
.city-hide{
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
position: absolute;
transform: translateY(-100%);

}
#clone-info-weather .weather {
transform: translateY(120%);
transition: transform 1s ease, opacity 0s;
transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY (0%);
}
#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY (100%);
    transition: transform 1s ease;
}
.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
transform: translateY(0%);
}